// Importar functions e varibles para que o map-merge funcione
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Create your own map
$custom-spacers: (
    6: ($spacer * 3.5),   //56px
    7: ($spacer * 4),     //64px
    8: ($spacer * 4.75),  //76px
    9: ($spacer * 5.5),   //88px
    14: ($spacer * 7),   //112px
);

// Merge the maps
$spacers: map-merge($spacers, $custom-spacers);

@import "~bootstrap/scss/bootstrap";

:root {
    --azul-1: #C3D6Df;
    --verde-1: #146646;
    --verde-2: #52CD4F;
    --verde-3: #0A312C;
    --verde-4: #51BABB;
    --verde-5: #EBF3EC;
}

body {
    font-family: 'Gotham', sans-serif;
}

em {
    font-style: italic;
}

.caixas [class^="border"] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 0.25rem;
    background-color: #f5f5f5;
}

.texto-titulo-secao {
    font-weight: 300;

    @include media-breakpoint-down(sm) {
        font-size: rfs-fluid-value(3rem);
    }
}

.icones-de-compartilhamento {
    width: 32vw;
}

#topo {
    height: 48px;
    padding: 10px;
}

.carousel-button-group {
    height: 40px;

    .seta {
        width: 40px;
        padding: 0;
    }
}

.carousel-seta {
    position: absolute;
    outline: 0;
    transition: all .5s;
    z-index: 1000;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;

    &:disabled,
    &.disabled {
        opacity: 0.2;
    }

    svg {
        circle {
            fill: var(--verde-4);
        }

        path {
            stroke: var(--verde-3);
        }
    }

    &.esquerda {
        // left: calc(4% + 1px);
        left: 0;
    }

    &.direita {
        // right: calc(4% + 1px);
        right: 0;
    }
}

.botoes-nav-carousel {
    gap: 1.5rem;
    margin-top: 1.5rem;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
        gap: 0;
        margin-top: 0;
        justify-content: space-between;
        transform: translate(-50%, -50%);
        top: 50%;
    }
}

#o-que-faz-o-cefor {     
    .texto-titulo-secao {
        color: var(--verde-1);
    }

    background-color: var(--azul-1);

    @include media-breakpoint-up(md) {
        background: {
            image: url("/src/assets/arte_cefor.png");
            size: 100%;
            repeat: no-repeat;
        }
    }

    .titulo-coluna {
        padding: 15px 0;
        margin-bottom: 25px;

        span {
            &:first-child {
                display: inline-block;
                // font-weight: 325;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                color: var(--verde-1);

                @include media-breakpoint-down(sm) {
                    font-size: rfs-fluid-value(1.5rem);
                    line-height: rfs-fluid-value(1.5rem);
                }
            }

            &:last-child {
                display: inline-block;
                // font-weight: 350;
                font-size: 128px;
                margin-left: -65px;
                vertical-align: bottom;
                line-height: 55%;
                letter-spacing: -0.05em;
                color: var(--verde-3);
                opacity: 0.15;

                @include media-breakpoint-down(sm) {
                    font-size: 7rem;
                    margin-left: -45px;
                }
            }
        }
    }

    .texto-coluna {
        font-weight: 325;
        font-size: 16px;
        line-height: 26px;
        color: var(--verde-3);

        @include media-breakpoint-up(sm) {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

#acesse-a-escola-da-camara {
    height: 173px;
    background: {
        image: url("/src/assets/painel_do_athos.png");
        size: auto 100%;
        repeat: repeat-x;
        color: var(--verde-2);
    }

    .btn {
        padding: 16px 27px;
        // font-weight: 350;
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        color: var(--verde-2);
        background-color: #F5F5F5;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }
}

#breve-historico {
    .texto-titulo-secao {
        color: var(--verde-2);
    }

    background-color: var(--verde-1);

    p {
        font-weight: 325;
        font-size: 16px;
        line-height: 26px;
        color: #f5f5f5;

        @include media-breakpoint-up(sm) {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

#depoimentos {
    .texto-titulo-secao {
        color: var(--verde-3);
    }

    background-color: var(--azul-1);

    #depoimentos-cefor {
        ul {
            li {
                color: #FFFFFF;

                .card-depoimento {
                    display: flex;

                    .aspas-duplas {
                        font-size: 3rem;
                        font-weight: 700;
                        line-height: 85%;

                        @include media-breakpoint-up(sm) {
                            font-size: 11.25rem;
                            line-height: 72%;
                        }

                        &.cor-1 {
                            color: var(--verde-1);
                        }
    
                        &.cor-2 {
                            color: var(--verde-2);
                        }
                        
                        &.cor-3 {
                            color: var(--verde-3);
                        }
    
                        &.cor-4 {
                            color: var(--verde-4);
                        }
                    }

                    .conteudo {
                        padding: 12px;
                        margin-top: 4px;
                        letter-spacing: 0.06rem;

                        @include media-breakpoint-up(sm) {
                            padding: 26px 12px;
                        }

                        &.cor-1 {
                            background-color: var(--verde-1);
                        }
    
                        &.cor-2 {
                            background-color: var(--verde-2);
                        }
                        
                        &.cor-3 {
                            background-color: var(--verde-3);
                        }
    
                        &.cor-4 {
                            background-color: var(--verde-4);
                        }

                        .depoimento {
                            font-size: 1rem;
                            font-weight: 300;
                            line-height: 100%;
                        }

                        .nome {
                            font-size: 0.75rem;
                            font-weight: 700;
                        }

                        .area-ou-instituicao {
                            font-size: 0.75rem;
                            font-weight: 300;
                        }

                        @include media-breakpoint-up(sm) {
                            .depoimento {
                                font-size: 1.125rem;
                            }
    
                            .nome {
                                font-size: 0.875rem;
                            }
    
                            .area-ou-instituicao {
                                font-size: 0.875rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

#linha-do-tempo {
    .texto-titulo-secao {
        color: var(--verde-3);
    }

    background-color: var(--verde-5);

    #timeline-main-wrapper {
        height: 7rem;

        .lvri.horizontal {
            top: -0.6rem;
        }
    }

    #react-chrono-timeline {
        color: var(--verde-1);

        .timeline-horz-card-wrapper {
            min-width: 98%;
        }

        .card-description {
            padding: 2rem 2rem 1rem 2rem;
        }

        h3 {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: center;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.125rem;
            line-height: 1.75rem;
            text-align: center;
        }
    }
}

#cefor-em-numeros {
    .texto-titulo-secao {
        color: var(--verde-4);
    }

    background-color: var(--verde-3);

    ul {
        &> li {
            &> .card-imagem {
                width: fit-content;

                img {
                    max-height: 70vh;
                }
            }
        }
    }
}

#videos {
    display: none;
    min-height: 1480px;

    background: {
        image: url("/src/assets/fundo_videos.jpg");
        size: auto 100%;
        position: bottom right;
        repeat: no-repeat;
        color: var(--verde-5);
    }

    @include media-breakpoint-down(xl) {
        background-position: bottom left;
    }

    .row {
        gap: 56px 88px;

        .col {
            width: 451px;
            height: 381px;
            padding: 32px;
            border-bottom: 4px solid var(--verde-3);

            .titulo-coluna {
                margin-bottom: 1.5rem;
                font-size: 1rem;
                color: var(--verde-3);

                span {
                    &:first-child {
                        font-style: italic;
                    }
        
                    &:nth-child(2) {
                        font-weight: 700;
                    }
                }
            }
        
            .texto-coluna {
                font-size: 30px;
                font-weight: 325;
                line-height: 34px;
                color: var(--verde-3);

                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                }
            }

            .link-assistir-no-youtube {
                bottom: 32px;

                a {
                    text-decoration: none;
                    color: var(--verde-3);

                    font: {
                        size: 16px;
                        weight: 700;
                    }
                }
            }
        }
    }
}

#calendario-de-atividades-comemorativas {
    .texto-titulo-secao {
        color: var(--verde-5);
    }

    background-color: var(--verde-1);

    h3 {
        color: var(--verde-5);
        font-weight: 700;
    }

    .calendario-mes {
        h4 {
            color: var(--verde-5);
            font-weight: 325;
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        hr {
            border: 0;
            border-top: 2px solid var(--verde-5);
            opacity: 1;
        }

        .calendario-dias{
            .dias-semana {
                background-color: var(--verde-5);
                border-radius: 6.25rem;
                padding: 2.5rem 1rem;
                color: var(--verde-1);
                text-align: center;

                @include media-breakpoint-up(md) {
                    padding: 2.5rem 1.5rem;
                }

                .dia {
                    width: 35px;
                    line-height: 100%;
                    display: block;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                .semana {
                    width: 35px;
                    line-height: 1.5rem;
                    display: block;
                    font-size: 0.875rem;
                    font-weight: 350;
                }

            }

            .atividade {
                color: var(--verde-5);

                p {
                    &:nth-child(1) {
                        font-size: 1.25rem;
                        font-weight: 325;
                    }

                    &:nth-child(2) {
                        font-size: 1rem;
                        font-weight: 325;
                        margin-bottom: 0;
                    }

                    @include media-breakpoint-up(md) {
                        &:nth-child(1) {
                            font-size: 1.5rem;
                        }
    
                        &:nth-child(2) {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }
}

#conheca-nossas-redes-sociais {
    .texto-titulo-secao {
        color: var(--verde-3);
    }
    
    background: {
        image: url("/src/assets/folhas.png");
        size: auto 75%;
        position: bottom right -100px;
        repeat: no-repeat;
        color: var(--azul-1);
    }

    @include media-breakpoint-up(lg) {
        background-size: auto 100%;
        background-position: 96% center;
    }

    .redes-sociais {
        @include media-breakpoint-between(md, xxl) {
            width: 690px;
        }

        .visite-rede-social {
            a {
                font-size: 1rem;
                line-height: 56px;
                font-weight: 700;
                color: var(--verde-5);
                text-decoration: none;
            
                @include media-breakpoint-up(sm) {
                    font-size: 1.5rem;
                }

                img {
                    width: 56px;
                    margin-right: 1rem;
                }
            }
        }
    }
}

#rodape {
    background-color: var(--verde-5);
    text-align: center;
    font-size: 1rem;
}